.main-page > div > div {
  text-align: center;
}

//navigation
.mdl-navigation__link.active {
  font-weight: bold;
}

//contacts
.contacts-form .mdl-textfield {
  display: block;
}

.contacts-form .send-message {
  top: 20px;
}