body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //background: url('../images/Delta Airline on JFK Airport_HD.jpg') no-repeat;
}

main {
  flex: 1 0 auto;
  margin-top: 40px !important;
}

footer {
  color: #fff;
}


//contacts
.contacts-form .success-message-hide,
.contacts-form .error-message-hide {
  display: none;
}

.contacts-form .success-message,
.contacts-form .error-message {
  display: block;
  margin-top: 50px;
}



.main-page > div > div {
  text-align: center;
}








//navigation
.mdl-navigation__link.active {
  font-weight: bold;
}

//contacts
.contacts-form .mdl-textfield {
  display: block;
}

.contacts-form .send-message {
  top: 20px;
}





//airports
.airports-form .mdl-textfield {
  display: block;
}