.main-page > div > div {
  text-align: center;
}

//navigation
.mdl-navigation__link.active {
  font-weight: bold;
}

//contacts
.contacts-form .mdl-textfield {
  display: block;
}

.contacts-form .send-message {
  top: 20px;
}

.contacts-form .success-message,
.contacts-form .error-message-hide {
  display: block;
  margin-top: 50px;
}

.contacts-form .success-message-hide,
.contacts-form .error-message-hide {
  display: none;
}

//airports
.airports-form .mdl-textfield {
  display: block;
}